

header {
  background-color: rgb(144, 144, 213);
  width: 100%;
  text-align: center;
  font-size: 36px;
  padding: 20px;
  color: white;
  
}

footer {
  background-color: rgb(144, 144, 213);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.form-container label {
  display: inline;
  font-size: 25px;
  padding: 10px;
  justify-content: center;
}
.form-container input {
  height: 30px;
  font-size: 25px;
}
.form-container button{
  height: 20px;
}
